{% extends 'TeeworldsBundle::layout.html.twig' %}
{% set menu = menu %}
{% block body %}
    <section class="home-section text-center">
		<div class="heading-about">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="wow bounceInDown" data-wow-delay="0.4s">
							<div class="section-heading">
								<h2>{{ nb }} partie(s) ajoutée(s)</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}